docs/workflows/IASE_v5_SW_Market_Intelligence_v5.3.4.json
{
  "name": "IASE_v5_SW_Market_Intelligence_v5.3.4",
  "nodes": [
    {
      "parameters": {},
      "id": "1edbfca9-1432-47e0-84e8-ec057fc1cdc7",
      "name": "When executed by parent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst systemPrompt = `# Rol\nEres el Market Intelligence Agent del sistema Innexia AI Strategic Analysis Engine.\n\n# Objetivo\nAnalizar el mercado de la oportunidad o iniciativa propuesta usando el contexto recibido y búsquedas web cuando sea útil.\n\n# Instrucciones\n- Identifica mercado objetivo, necesidades del cliente, tendencias, competidores, factores regulatorios, barreras y oportunidades.\n- Si no hay datos exactos, usa supuestos razonables y decláralos.\n- Si aplica, estima TAM, SAM y SOM de forma preliminar y cualitativa o semicuantitativa.\n- No expliques tu razonamiento.\n- Devuelve únicamente JSON válido.\n- No incluyas markdown.\n- No incluyas texto fuera del JSON.\n\n# Formato de salida\n{\n  \"market_analysis\": {\n    \"market_overview\": \"\",\n    \"target_market\": [],\n    \"customer_needs\": [],\n    \"industry_trends\": [],\n    \"competitors\": [\n      {\n        \"name\": \"\",\n        \"type\": \"\",\n        \"strengths\": [],\n        \"weaknesses\": []\n      }\n    ],\n    \"regulatory_factors\": [],\n    \"barriers_to_entry\": [],\n    \"opportunities\": [],\n    \"tam_sam_som\": {\n      \"tam\": \"\",\n      \"sam\": \"\",\n      \"som\": \"\"\n    },\n    \"assumptions\": []\n  }\n}\n\n# Regla final\nDevuelve únicamente JSON válido.`;\n\nconst userPayload = JSON.stringify(input);\n\nconst outputSchema = {\n  type: \"object\",\n  properties: {\n    market_analysis: {\n      type: \"object\",\n      properties: {\n        market_overview: { type: \"string\" },\n        target_market: { type: \"array\", items: { type: \"string\" } },\n        customer_needs: { type: \"array\", items: { type: \"string\" } },\n        industry_trends: { type: \"array\", items: { type: \"string\" } },\n        competitors: {\n          type: \"array\",\n          items: {\n            type: \"object\",\n            properties: {\n              name: { type: \"string\" },\n              type: { type: \"string\" },\n              strengths: { type: \"array\", items: { type: \"string\" } },\n              weaknesses: { type: \"array\", items: { type: \"string\" } }\n            },\n            required: [\"name\", \"type\", \"strengths\", \"weaknesses\"]\n          }\n        },\n        regulatory_factors: { type: \"array\", items: { type: \"string\" } },\n        barriers_to_entry: { type: \"array\", items: { type: \"string\" } },\n        opportunities: { type: \"array\", items: { type: \"string\" } },\n        tam_sam_som: {\n          type: \"object\",\n          properties: {\n            tam: { type: \"string\" },\n            sam: { type: \"string\" },\n            som: { type: \"string\" }\n          },\n          required: [\"tam\", \"sam\", \"som\"]\n        },\n        assumptions: { type: \"array\", items: { type: \"string\" } }\n      },\n      required: [\"market_overview\", \"target_market\", \"customer_needs\", \"industry_trends\", \"competitors\", \"regulatory_factors\", \"barriers_to_entry\", \"opportunities\", \"tam_sam_som\", \"assumptions\"]\n    }\n  },\n  required: [\"market_analysis\"]\n};\n\nreturn [{ json: { input, system_prompt: systemPrompt, user_payload: userPayload, output_schema: outputSchema } }];"
      },
      "id": "456efa8e-8964-478d-aa7b-a5af88acd7ff",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        464
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "17ef5289-14d5-400d-9010-c39fb39a33bb",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -672,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "1R1it0eEi8fboD41",
          "name": "OpenAi Innexia"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search the web with Tavily for fresh market, technology, vendor, regulatory, and benchmarking context when the project input would benefit from external validation. Prefer concise, relevant searches in Spanish or English depending on the input.",
        "query": "$fromAI(\"search_query\", \"Consulta de búsqueda Tavily\", \"string\")",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": 5,
          "include_answer": "advanced",
          "include_raw_content": false
        }
      },
      "id": "551bf6f4-0672-4b38-951f-d3a31b04a8f3",
      "name": "Tavily Web Search",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -464,
        720
      ],
      "credentials": {
        "tavilyApi": {
          "id": "xcIywbCiXQk2Iroa",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let content = $json.text ?? $json.output ?? $json;\n\nif (typeof content === 'string') {\n  content = content.trim();\n\n  if (content.startsWith('```')) {\n    content = content\n      .replace(/^```json\\s*/i, '')\n      .replace(/^```\\s*/, '')\n      .replace(/```$/, '')\n      .trim();\n  }\n\n  content = JSON.parse(content);\n}\n\nif (content && typeof content === 'object' && content.__structured__output__object) {\n  content = content.__structured__output__object;\n}\n\ncontent.market_analysis = content.market_analysis || {};\ncontent.market_analysis.market_overview = content.market_analysis.market_overview || \"\";\ncontent.market_analysis.target_market = Array.isArray(content.market_analysis.target_market) ? content.market_analysis.target_market : [];\ncontent.market_analysis.customer_needs = Array.isArray(content.market_analysis.customer_needs) ? content.market_analysis.customer_needs : [];\ncontent.market_analysis.industry_trends = Array.isArray(content.market_analysis.industry_trends) ? content.market_analysis.industry_trends : [];\ncontent.market_analysis.competitors = Array.isArray(content.market_analysis.competitors) ? content.market_analysis.competitors : [];\ncontent.market_analysis.regulatory_factors = Array.isArray(content.market_analysis.regulatory_factors) ? content.market_analysis.regulatory_factors : [];\ncontent.market_analysis.barriers_to_entry = Array.isArray(content.market_analysis.barriers_to_entry) ? content.market_analysis.barriers_to_entry : [];\ncontent.market_analysis.opportunities = Array.isArray(content.market_analysis.opportunities) ? content.market_analysis.opportunities : [];\ncontent.market_analysis.tam_sam_som = content.market_analysis.tam_sam_som || {};\ncontent.market_analysis.assumptions = Array.isArray(content.market_analysis.assumptions) ? content.market_analysis.assumptions : [];\n\nreturn [{ json: content }];"
      },
      "id": "6ecbd366-052b-440f-8751-183ce1a7bfa4",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.market_analysis || typeof data.market_analysis !== 'object') {\n  throw new Error('market_analysis faltante o inválido');\n}\n\ndata.market_analysis.target_market = Array.isArray(data.market_analysis.target_market) ? data.market_analysis.target_market : [];\ndata.market_analysis.customer_needs = Array.isArray(data.market_analysis.customer_needs) ? data.market_analysis.customer_needs : [];\ndata.market_analysis.industry_trends = Array.isArray(data.market_analysis.industry_trends) ? data.market_analysis.industry_trends : [];\ndata.market_analysis.competitors = Array.isArray(data.market_analysis.competitors) ? data.market_analysis.competitors : [];\ndata.market_analysis.regulatory_factors = Array.isArray(data.market_analysis.regulatory_factors) ? data.market_analysis.regulatory_factors : [];\ndata.market_analysis.barriers_to_entry = Array.isArray(data.market_analysis.barriers_to_entry) ? data.market_analysis.barriers_to_entry : [];\ndata.market_analysis.opportunities = Array.isArray(data.market_analysis.opportunities) ? data.market_analysis.opportunities : [];\ndata.market_analysis.tam_sam_som = data.market_analysis.tam_sam_som || {};\ndata.market_analysis.assumptions = Array.isArray(data.market_analysis.assumptions) ? data.market_analysis.assumptions : [];\n\nreturn [{ json: data }];"
      },
      "id": "7f8010df-077e-4ce2-9354-58aeb8d1bdd2",
      "name": "Validate Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json }];"
      },
      "id": "fe358d07-6aaf-4c28-9be5-2896b443be75",
      "name": "Return Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.user_payload) }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        464
      ],
      "id": "5a40fe8c-d035-46e2-a9f9-74b86ebd153f",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by parent": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Validate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cc54e5eb-e9ce-467c-b650-cdbc03c63e4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f9ba910a29f5e215a4b4a694ee3408825b7b8212157cd2e725d3dcd110c61dc"
  },
  "id": "81O7spAegADp62mv",
  "tags": [
    {
      "updatedAt": "2026-03-13T12:58:43.774Z",
      "createdAt": "2026-03-13T12:58:43.774Z",
      "id": "REGEyW1C5Xa8xIW5",
      "name": "iase"
    }
  ]
}