docs/workflows/IASE_v5_SW_Roadmap_v5.3.4.json
{
  "name": "IASE_v5_SW_Roadmap_v5.3.4",
  "nodes": [
    {
      "parameters": {},
      "id": "57af6fea-5289-4f2f-b199-cea18221aae4",
      "name": "When executed by parent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst systemPrompt = `# Rol\nEres el Roadmap Agent del sistema Innexia AI Strategic Analysis Engine v5.\n\n# Objetivo\nConvertir el contexto estratégico del proyecto en un roadmap por fases.\n\n# Instrucciones\n- Organiza el proyecto en fases realistas.\n- Define duración estimada en semanas.\n- Incluye entregables y metas.\n- Incluye dependencias entre fases.\n- No expliques tu razonamiento.\n- Devuelve únicamente JSON válido.\n\n# Formato de salida\n{\n  \"roadmap\": {\n    \"phases\": [\n      {\n        \"phase_id\": \"P1\",\n        \"name\": \"\",\n        \"duration_weeks\": 0,\n        \"goals\": [],\n        \"deliverables\": [],\n        \"dependencies\": []\n      }\n    ],\n    \"milestones\": [],\n    \"assumptions\": []\n  }\n}\n\n# Regla final\nDevuelve únicamente JSON válido.`;\n\nconst userPayload = JSON.stringify(input);\n\nconst outputSchema = {\n  type: \"object\",\n  properties: {\n    roadmap: {\n      type: \"object\",\n      properties: {\n        phases: {\n          type: \"array\",\n          items: {\n            type: \"object\",\n            properties: {\n              phase_id: { type: \"string\" },\n              name: { type: \"string\" },\n              duration_weeks: { type: \"number\" },\n              goals: { type: \"array\", items: { type: \"string\" } },\n              deliverables: { type: \"array\", items: { type: \"string\" } },\n              dependencies: { type: \"array\", items: { type: \"string\" } }\n            },\n            required: [\"phase_id\", \"name\", \"duration_weeks\", \"goals\", \"deliverables\", \"dependencies\"]\n          }\n        },\n        milestones: { type: \"array\", items: { type: \"object\" } },\n        assumptions: { type: \"array\", items: { type: \"string\" } }\n      },\n      required: [\"phases\", \"milestones\", \"assumptions\"]\n    }\n  },\n  required: [\"roadmap\"]\n};\n\nreturn [{ json: { input, system_prompt: systemPrompt, user_payload: userPayload, output_schema: outputSchema } }];"
      },
      "id": "1ba2064f-e37a-4e70-bb7f-fcc351fa12c8",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        1408
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "54337e7e-0be9-405e-8491-9f940629624f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        1616
      ],
      "credentials": {
        "openAiApi": {
          "id": "1R1it0eEi8fboD41",
          "name": "OpenAi Innexia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let content = $json.text ?? $json.output ?? $json;\n\nif (typeof content === 'string') {\n  content = content.trim();\n\n  if (content.startsWith('```')) {\n    content = content\n      .replace(/^```json\\s*/i, '')\n      .replace(/^```\\s*/, '')\n      .replace(/```$/, '')\n      .trim();\n  }\n\n  content = JSON.parse(content);\n}\n\nif (content && typeof content === 'object' && content.__structured__output__object) {\n  content = content.__structured__output__object;\n}\n\ncontent.roadmap = content.roadmap || {};\ncontent.roadmap.phases = Array.isArray(content.roadmap.phases) ? content.roadmap.phases : [];\ncontent.roadmap.phases = content.roadmap.phases.map((p, idx) => ({\n  phase_id: p?.phase_id || `P${idx + 1}`,\n  name: p?.name || `Fase ${idx + 1}`,\n  duration_weeks: Number(p?.duration_weeks || 0),\n  goals: Array.isArray(p?.goals) ? p.goals : [],\n  deliverables: Array.isArray(p?.deliverables) ? p.deliverables : [],\n  dependencies: Array.isArray(p?.dependencies) ? p.dependencies : []\n}));\ncontent.roadmap.milestones = Array.isArray(content.roadmap.milestones) ? content.roadmap.milestones : [];\ncontent.roadmap.assumptions = Array.isArray(content.roadmap.assumptions) ? content.roadmap.assumptions : [];\n\nreturn [{ json: content }];"
      },
      "id": "072a20cb-0a25-43c3-a188-f8e1cf2f9f1c",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.roadmap || typeof data.roadmap !== 'object') {\n  throw new Error('roadmap faltante o inválido');\n}\n\nif (!Array.isArray(data.roadmap.phases)) {\n  throw new Error('roadmap.phases faltante o inválido');\n}\n\nreturn [{ json: data }];"
      },
      "id": "ce252393-c1ca-415f-a7a4-11d4ac86e06a",
      "name": "Validate Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json }];"
      },
      "id": "d909b76d-8112-4036-8d02-a04b1ff47a28",
      "name": "Return Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        1408
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.user_payload) }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        1408
      ],
      "id": "04e7d5cd-da28-4342-bf05-8514b36d3890",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When executed by parent": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Validate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "78e2c638-ae45-42ca-a724-ca3c8da741e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f9ba910a29f5e215a4b4a694ee3408825b7b8212157cd2e725d3dcd110c61dc"
  },
  "id": "IHuucsEVeLESbPU7",
  "tags": [
    {
      "updatedAt": "2026-03-13T12:58:43.774Z",
      "createdAt": "2026-03-13T12:58:43.774Z",
      "id": "REGEyW1C5Xa8xIW5",
      "name": "iase"
    }
  ]
}